* {
    padding: 0;
    margin: 0;
    /* border: 0; */
}
    
#cabecera {
    background-color: #dbfc13;
    position: fixed; 
    width: 100%;
    display: inline-flex; 
    z-index: 100;
    
} 

#logo {
    width: 20%;
    /* padding: 0.5% 0%;  */
}

    /* #cab1{
        display: inline-flex;
        gap: 50%;
        margin-top: 20%;
        margin-left: 50%;
    
    } */
nav {
    float: left;
    
}
nav ul {
    list-style: none;
    /* overflow: hidden; Limpiamos errores de float */
    display: inline-flex;
    gap: 60%;
    margin-top: 30%;
    margin-left: 150%;
    margin-bottom: 5px;
  }


/* li {
    list-style: none;
    display: inline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(13, 33, 63);
    padding: 10px 10px;
    background-color: transparent;
    /* margin-top: 30%; */
    

nav ul li {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    }

nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
 }
      
/* nav li:hover {
    color: #0b193a;
    } */
li:hover {
    color: rgba(158, 166, 167, 0.896);
    cursor: pointer;
} 
#imagenzota{
    text-align: center;
    padding-top: 8%;
}
#imagenzota img {
    width: 100%;
    /* height: 300%; */
    overflow:hidden;
}

.sec {
    background-color: rgb(30, 39, 43);
    padding: 20px 20px;
    margin: 20px 30px;
    font-size: 10px;
    border-radius: 8px;
    margin-top: 5%;
    /* margin-left: 3%; */
    /* margin-right: 5px; */
    width: 80%;
    /* margin: auto; */
    overflow:hidden;
    font-family: sans-serif;
    text-align: center;
}
.sec:hover{

    background-color: #dbfc13;
    cursor: pointer;
    color: rgb(14, 35, 74);
}



#cu {
    display: flex;  /*  las cajas se acomodaron en horizontal */
    color: aliceblue;
}



p{
    padding: 30px 30px;
    /* margin: 40px 40px; */
    width: 80%;
    margin: auto;
    overflow:hidden;
}
